<form name="form" [formGroup]="form">
  <div class="fm">
    <h3>Change Password</h3>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="oldpassword">Old Password</label>
        <input
          type="password"
          id="oldpassword"
          class="form-control"
          formControlName="oldpassword"
          placeholder="Old Password"
          required>
        <small
          class="form-text text-muted danger"
          *ngIf="!form.get('oldpassword').valid && (form.get('oldpassword').dirty || form.get('oldpassword').touched)">
         Old password required
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label for="newpassword">New Password</label>
        <input
          type="password"
          id="newpassword"
          class="form-control"
          formControlName="newpassword"
          placeholder="new password"
          minlength="8" 
          required>
          <small
          class="form-text text-muted danger"
          *ngIf="!form.get('newpassword').valid && (form.get('newpassword').dirty || form.get('newpassword').touched)">
           New password required
        </small>
        <small
          class="form-text text-muted danger"
          *ngIf="form.get('newpassword').valid && (form.get('newpassword').value == form.get('oldpassword').value)">
        Old and New Password should not be same
        </small>
        <small class="form-text text-muted danger" *ngIf="form.get('newpassword').hasError('passwordStrength')">
          {{form.get('newpassword').errors['passwordStrength']}}
         </small>
      </div>
    </div>
          <div class="form-group row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" id="confirmpassword" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password" required>
              <small
              class="form-text text-muted danger"
              *ngIf="!form.get('confirmpassword').valid && (form.get('confirmpassword').dirty || form.get('confirmpassword').touched)">
              Confirm password is required
            </small>
            <small
          class="form-text text-muted danger"
          *ngIf="form.get('confirmpassword').valid && (form.get('confirmpassword').value != form.get('newpassword').value)">
        Please enter correct new password
        </small>
            </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" (click)="onCancel()">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" (click)="onSave()">
                <i class="ft-save"></i> Save
              </button>
            </div>
  </div>
</form>
