h2
{
text-align: center;
font-weight: bold;
}

button.btn.btn-primary{
    background-color: #047D00 !important;
    color: #fff !important;

  // .recover-pass {
  //   color: #fff !important;
  // }
}
