.dropmenu{
    margin-left:10px !important;
}
.col{
    max-width:150px;
    white-space: nowrap;
}
.padding{
    // padding-left: 43.5rem;
    align-items: right;
}

.paddings{
    padding-left: 18.0rem;
}