<div class="card">
  <div class="row header-layout" style="margin-top: 5px;">
    <div class="col-md-2 col-sm-2">
      <img src="assets/img/logos/tamilnadu-logo.png">
    </div>
    <div class="col-md-8 col-sm-8 text-center" style="color: black !important;">
      <h3>TamilNadu e-Governance Agency </h3>
      <h6>Information Technology Department</h6>
      <h6>Government of Tamil Nadu</h6>
    </div>
    <div class="col-md-2 col-sm-2">
      <img src="assets/img/logos/logo-big-black.png">
    </div>
  </div>
  <h3 style="color:#673594;text-align:center;"><b>e-Governance Readiness Assessment</b></h3>
  <div class="seperator"></div>
</div>
<section id="welcome">
  <div class="welcomePage ">
    <div class="row ">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 left-slider-content">
        <div class="carousel-inner" style="height: 450px;">
          <img src="assets/img/photos/welcomeImage.jpg" >
        </div>

      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
        <div class="centerAlign">
          <div class="form-group-row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
              <h4 class="contentInformataion">You are part of the Digital Transforming... Your input will
                help us in preparing for the less paper work </h4>
            </div>
          </div>

          <div class="fg-actions d-flex justify-content-between mt-3">
            <button type="button" class="btn btn-outline-primary mr-1 continueButton" (click)="goToQuestion()">
              <a class="text-decoration-none">Continue</a>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>