<!-- <button class="btn btn-primary" style="color: white" (click)="print()">Download Map</button> -->
<div class="">
    <form [formGroup]="form" class="form form-horizontal">
        <div class="form-group row">
            <div class="col-md-3">
                <label for="district">State</label>
                <ngx-select class="crossalign" formControlName="state" [allowClear]="false" [items]="statesList"
                    optionValueField="value" optionTextField="value" showOptionNotFoundForEmptyItems="true"
                    (open)="onOpen()" (selectionChanges)="onStateChange($event)" placeholder="Select State">
                </ngx-select>
                <small class="form-text text-muted danger"
                    *ngIf="!form.get('state').valid && (form.get('state').dirty || form.get('state').touched)">
                    State is required
                </small>
            </div>

            <div class="col-md-3">
                <label for="district">Obstacle Type</label>
                <ngx-select class="crossalign" formControlName="obstacleType" [allowClear]="false"
                    [items]="obstaclesType" optionValueField="value" optionTextField="value"
                    showOptionNotFoundForEmptyItems="true" (open)="onOpen()"
                    (selectionChanges)="onObstacleTypeChange($event)" placeholder="Select Obstacle Type">
                </ngx-select>
            </div>

            <div class="col-md-1 right partverification-btn ">
                <label style="visibility: hidden;" class="load-btn">Load</label>
                <button type="button" style="background-color: #88109E;border: #88109E;color: white !important;"
                    class="button btn btn-primary mr-1 btnsubmit partverification-btn">
                    Load
                </button>
            </div>

        </div>

    </form>
</div>
<div class="card" style="width: 49%;">
    <div id="canvas-holder" style="width:100%">
        <canvas id="topClientChart" width="50" height="30"></canvas>
    </div>
</div>
<div id="canvas-holder" style="width:100%">
    <canvas id="piechart" width="50" height="20"></canvas>
</div>
<!-- <div class="easyPrint" id="map">

</div> -->
