<div class="card form-group">
  <h3 class="col-md-12" style="margin-top: 10px;color: black !important;">
    <b class="spanDesign">Assessment Details</b>
  </h3>
  <table class="col-md-12 table table-hover">
    <tr>
      <th>
          <span class="spanDesign">
        Department Name
        </span>
      </th>
      <th>
        Last Updated
      </th>
      <th>
        Action
        </th>
    </tr>
    <tr *ngFor="let ass of assList">
      <td>
        <span class="spanDesign">
        {{ass.departmentName}}
        </span>
      </td>
      <td>
        {{ass.lastUpdatedTime}}
      </td>      
    <td>
    <span (click)="onViewClick(ass.id)"  class="fa fa-eye" style="font-size:20px;color:#673594;cursor: pointer;">           
    </span>
  </td>
    </tr>
  </table>
</div>